.product h1 {
  text-align: center;
  margin: 5vh;
  color: #ea9600;
}
.product input {
  width: 80vw;
  align-self: flex-end;
}


.invalid-input {
  display: block;
  color: red;
  margin-top: 5px; /* Add margin top to create space */
  margin-bottom: 10px; /* Add margin bottom for additional space */
  margin-left: 20px;
}

.product inputBox {
  padding: 7px;
  display: block;
  border: 1px solid #ea9600;
  width: 300px;
}

.appButton {
  margin: 20px;
  width: 180px;
  padding: 10px;
  background-color: #ea9600;
  border: solid 1px;
  cursor: pointer;
}

.product {
  padding: 10px 20px;
}


.form-control:focus {
  border-color: hsl(38, 100%, 46%); /* Change this to the color you want */
  box-shadow: 0 0 0 0.2rem #ea96004d; /* Change this to the color you want */
}

.button {
  --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 34, 89%;

  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  color: hsla(0, 0%, 90%);
  border: 0;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);
  transition: all 0.1s var(--bezier);
}

.button:hover {
  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.02);
}

.button:active {
  --text-light: rgba(255, 255, 255, 1);

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
  text-shadow: 0px 0px 20px var(--text-light);
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.1em;
  transform: scale(1);
}
